.dialog {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  max-width: max-content;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent;
  background-color: var(--gray100-color);
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog[open] {
  opacity: 1;
  transform: translate(-50%, -50%) scaleY(1);
  pointer-events: auto;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.dialog__close {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);

  svg {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
.dialog__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.dialog__btn {
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  color: var(--white-color);

  &:disabled {
    opacity: 0.6;
  }
}
.dialog__btn_sub {
  background-color: #3f51b5;
}
.dialog__btn_cancel {
  background-color: tomato;
}
