/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import "./assets/styles/reset.scss";
@import "./assets/styles/variables.scss";

* {
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: var(--blue400-color);
  color: var(--gray100-color);
  height: 100%;
  min-height: 100dvh;
}

.title-1 {
  font-size: 5rem;
}

.title-2 {
  font-size: 3.5rem;
}

.title-3 {
  font-size: 2rem;
}

input,
textarea,
button {
  font-family: "Comfortaa", sans-serif;
}
